.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.navbar-container {
    max-width: 1200px;
    margin: auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;

    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.5px;

    color: var(--text-main);
}

.logo img {
    height: 70px;
    width: 70px;
    object-fit: contain;
    filter: drop-shadow(0 0 6px rgba(245, 196, 0, 0.6));
    border-radius: 70px;

}

.logo span {
    color: var(--text-main);
}

.logo span {
    color: var(--text-main);
}




.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0px 20px;

}

.nav-links a {
    color: var(--text-muted);
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    color: var(--yellow-main);
}


.cta-btn {
    background: var(--yellow-main);
    color: black;
    padding: 10px 20px;
    border-radius: 999px;
    font-weight: 700;
    text-decoration: none;
}

.cta-btn:hover {
    background: var(--yellow-glow);
}