:root {
  --bg-main: #0b0b0b;
  --bg-secondary: #111111;
  --yellow-main: #f5c400;
  --yellow-glow: #ffdd33;
  --text-main: #ffffff;
  --text-muted: #9ca3af;
  --border-accent: #f5c400;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: var(--bg-main);
  color: var(--text-main);
  -webkit-user-select: none;
  user-select: none;
}

.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.dark {
  background: #000;
}

.gray {
  background: #111;
}


.section-container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-header {
  text-align: center;
  margin-bottom: 60px;
}

.section-header h2 {
  font-size: 3rem;
  font-weight: 800;
  margin: 10px 0;
}

.section-header .highlight {
  color: var(--yellow-main);
}




.duration-badge {
  display: inline-block;
  background: var(--yellow-main);
  color: black;
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: 700;
}

